extends layout

block content
  div.blog-container
    div.blog-head
      h3 mishyJari blog
        p Rantings and musings, I suppose
      if session.loggedin
        a(href="/blog/new") New Post
      else
        a(href='/users/login') Login to Add Post
    div.blog-body
      each entry in all_posts
        div.post-preview
          h5 
            a(href=entry.url) #{entry.title} 
          div.post-preview-body= entry.content
          h6 Posted at #{entry.date.getHours()}:#{entry.date.getMinutes()+1} on #{entry.date.toDateString()}.
